    .bg-gray-200 {
        --tw-bg-opacity: 1;
        background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    }
    
    .logo-icon {
        width: 150px;
        height: 150px;
    }
    /* Preloader */
    
    #container_load {
        background-color: rgba(250, 250, 250, 0.9);
        width: 100%;
        height: 100%;
        position: fixed;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        z-index: 10000;
        text-align: center;
        line-height: 100px;
    }
    
    #load {
        height: 120px;
        width: 120px;
        border-radius: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    /* P */
    
    .preloader {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    
    .preloader,
    .preloader:before,
    .preloader:after {
        border-radius: 50%;
        width: 2.2em;
        height: 2.2em;
        animation: loader 1.5s infinite ease-in-out;
        -moz-animation: loader 1.5s infinite ease-in-out;
    }
    
    .preloader {
        color: #e78122;
        font-size: 13px;
        position: relative;
        animation-delay: -0.16s;
        -o-animation-delay: -0.16s;
        -moz-animation-delay: -0.16s;
        -webkit-animation-delay: -0.16s;
    }
    
    .preloader:before,
    .preloader:after {
        content: "";
        position: absolute;
        top: 0;
    }
    
    .preloader:before {
        left: -3.5em;
        animation-delay: -0.32s;
        -o-animation-delay: -0.32s;
        -moz-animation-delay: -0.32s;
        -webkit-animation-delay: -0.32s;
    }
    
    .preloader:after {
        left: 3.5em;
    }
    
    @keyframes toturn {
        /*form{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}*/
        from {
            transform: none;
        }
        50% {
            transform: scale(1.2);
        }
        to {
            transform: none;
        }
    }
    
    @keyframes loader {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }
    /* END PRELOADER */
    
    *:disabled,
    *.disabled {
        cursor: not-allowed;
        pointer-events: all !important;
    }
    
    .fas {
        color: white;
        width: 50% !important;
        height: 50% !important;
        margin-top: 8%;
        margin-left: 7.5%;
        font-size: 1em;
        background-size: 120%;
    }
    
    .blocks {
        margin: 2px;
        border-radius: 2px;
    }
    
    .navbar-logo {
        width: 20px;
    }
    
    .text-center {
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    
    body::-webkit-scrollbar,
    .sb-sidenav-menu::-webkit-scrollbar {
        width: 7px;
    }
    
    body::-webkit-scrollbar-thumb,
    .sb-sidenav-menu::-webkit-scrollbar-thumb {
        background: #c2c3c9;
        border-radius: 7px;
    }